.md-typeset__table {
  display: initial;
}
.md-typeset table:not([class]) {
  display: table;
}
.md-typeset__scrollwrap {
  margin:1em 0;
}
.md-typeset table:not([class]) th {
    min-width:2rem;
    padding:.8em .4em;
}
.md-typeset table:not([class]) td {
    padding:.8em .4em;
}
.md-typeset h1 {
    font-size:2em;
    margin:0 0 1.5em
}
.md-typeset hr {
    margin:2.5em 0
}
.md-main {
    margin-bottom: 5em;
}