.md-typeset table:not([class]) th {
    min-width:2rem;
    padding:.8em .5em;
  }
  .md-typeset table:not([class]) td {
    padding:.8em .5em;
  }
  
  .md-typeset h1 {
    font-size:2em;
    margin:0 0 1.5em
  }
  .md-typeset hr {
    margin:2.5em 0
  }

  .md-main {
    margin-bottom: 5em;
  }